* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f28ab2;
    color: #102a42;
    line-height: 1.5;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

img {
    display: block;
}

.container {
    width: 50vh;
    margin: 5rem 0;
    /* max-width: var(--fixed-width); */
    background: #fff;
    border-radius: 0.25rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

h3 {
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.person {
    display: flex;
    /* grid-template-columns: auto 1fr; */
    column-gap: 0.75rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

.person img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.person h4 {
    margin-bottom: 0.35rem;
    font-weight: bold;
}

.person p {
    margin-bottom: 0;
    color: black;
}

button {
    color: #fff;
    display: block;
    width: 100%;
    background: #f28ab2;
    margin: 2rem auto 0 auto;
    border: transparent;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover {
    background: #d66a90;
}