.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;

}

.card {
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s ease;
}

body.light .card {
  background: #f5f5f5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

body.dark .card {
  background: #111;
  border: 1px solid #9a9a9a;
  box-shadow: 0 4px 12px rgba(255,255,255,0.05);
}

.card:hover {
  transform: translateY(-5px);
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 /1 ; 
  overflow: hidden;
  background: #f0f0f0;

}

.card-body {
  padding: 15px;
}

body.light .card-body {
  background: #f9f9f9;
}

body.dark .card-body {
  background: #1a1a1a;
}

.author {
  font-size: 14px;
  margin-bottom: 10px;
}

body.light .author {
  color: #333;
}

body.dark .author {
  color: #ccc;
}

.tag-container {
   display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.tag-pill {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: transparent;
  color:black;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  box-shadow: 0 2px 8px rgba(102, 126, 234, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;  
}

body.light .tag-pill {
  color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

body.dark .tag-pill {
  color: #fff;
  box-shadow: 0 2px 8px rgba(102, 126, 234, 0.3);
}

.tag-pill:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4);
  cursor: pointer;
}


