.pagination{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination span{
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination button{
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background: #3b82f6;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

}

